<body>
    <div class="row justify-content-sm-center pt-5">
  <div class="content col-sm-8 col-md-8">
    <h2> Station's</h2>
    <br>
    <button class="btn btn-danger" style="display:inline-block;" (click)="addStation()"> New Station</button>
    <br>
    <br>
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th>Nome</th>
          <th>Latitude</th>
          <th>Longitude</th>
          <th>Capacidade</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let station of stations">
          <td>{{station.Name}}</td>
          <td>{{station.Latitude}}</td>
          <td>{{station.Longitude}}</td>
          <td>{{station.Capacidade}}</td>
          <td><button class="btn btn-danger" (click)="deleteStation(station)"> Delete</button>
            <button class="btn btn-danger ml-2" (click)="editStation(station)"> Edit</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>
</body>