<body>
    <div class="row justify-content-sm-center pt-5">
        <div class="col-sm-8 col-md-7">
            <h3 class="card-header text-center text-light">Reset your password</h3>
            <div class="card-body" *ngIf="!isCompleted">
                <div class="row justify-content-sm-center">
                    <form class="col-md-6" [formGroup]="form" (ngSubmit)="onSubmit(userEmail.value)">
                        <div class="alert alert-danger" role="alert" *ngIf="!isCompleted && submitted">
                            Email not found!
                        </div>
                        <div class="content">
                            <i class="fas fa-user "></i>
                            <input type="email" formControlName="email" email pattern=".{1,}@[_a-z0-9A-Z]+(\.[a-z0-9A-Z]+)+" 
                                class="form-control" placeholder="example@email.com"
                                [ngClass]="{ 'is-invalid': f.email.errors && submitted }" #userEmail required autofocus>
                            <div class="invalid-feedback" *ngIf="submitted">
                                <div *ngIf="f.email.errors?.required">E-mail is required</div>
                            </div>
                        </div>
                        <br>
                        <div class="row d-flex justify-content-sm-center">
                            <button class="btn btn-lg btn-success btn-block mb-1 col-lg-6" type="submit">Send
                                password reset email</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card-body" *ngIf="isCompleted">
                <p>Check your email for a link to reset your password. If It's not appear in few minutes, check
                    your spam folder.</p>
            </div>
        </div>
    </div>
</body>